/* General styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  section {
    padding: 40px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  
  /* Styles for specific sections */
  
  #education {
    background-color: #f2f2f2;
  }
  
  #skills {
    background-color: #fff;
  }
  
  #skills ul li {
    margin-bottom: 10px;
  }
  
  #projects {
    background-color: #f2f2f2;
  }
  
  #projects ul li {
    margin-bottom: 10px;
  }
  
  #achievements {
    background-color: #fff;
  }
  
  #achievements ul li {
    margin-bottom: 10px;
  }
  
  #hobbies {
    background-color: #f2f2f2;
  }
  